# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


# visualstudio 
.vs/

app-example
*.vsidx
/.vs/slnx.sqlite
/.vs/TuVidaFinancieraApp/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/TuVidaFinancieraApp/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
